/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#6a11cb,#2575fc);
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:500px;
    background:white;
    padding:35px;
    border-radius:20px;
    box-shadow:0 15px 40px rgba(0,0,0,0.25);
    text-align:center;
    animation:fadeIn 1s ease;
}

h1{
    color:#2575fc;
    margin-bottom:25px;
    font-size:32px;
}

p{
    color:#555;
    margin-bottom:20px;
}

select{
    width:100%;
    padding:14px;
    border-radius:10px;
    border:2px solid #2575fc;
    font-size:16px;
    outline:none;
    margin-bottom:20px;
    cursor:pointer;
}

button{
    width:100%;
    padding:14px;
    background:linear-gradient(to right,#ff416c,#ff4b2b);
    color:white;
    border:none;
    border-radius:10px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    transform:scale(1.05);
    box-shadow:0 8px 20px rgba(255,75,43,0.4);
}

h2{
    margin-top:30px;
    color:#ff416c;
}

ul{
    list-style:none;
    margin-top:20px;
}

li{
    background:linear-gradient(to right,#36d1dc,#5b86e5);
    color:white;
    padding:12px;
    margin:10px 0;
    border-radius:10px;
    font-size:18px;
    font-weight:500;
    transition:0.3s;
}

li:hover{
    transform:translateX(8px);
    box-shadow:0 8px 15px rgba(0,0,0,0.2);
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}